@model IEnumerable<BibliotecaNA.Models.Domain.Livro>
@{
}

<div class="container pt-3">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-dark" href="/Livro/Add">+ Add more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Livros</h3>

            <table  class="table table-stripped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Isbn</th>
                        <th>Total Pages</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                            <td>@item.Titulo</td>
                            <td>@item.NomeGenero</td>
                            <td>@item.Isbn</td>
                            <td>@item.NrPaginas</td>
                            <td>@item.NomeAutor</td>
                            <td>@item.NomeEditora</td>
                        <td>
                                <a class="btn btn-success" href="/Livro/Update?id=@item.Id"><i class="bi bi-pen"></i></a> |
                                <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Livro/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

