@model IEnumerable<BibliotecaNA.Models.Domain.Livro>
@{
}

<div class="container pt-3">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-dark" href="/Livro/Add">Adicionar mais livros</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Livros</h3>

            <table class="table table-stripped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Gênero</th>
                        <th>Isbn</th>
                        <th>Número de páginas</th>
                        <th>Autor</th>
                        <th>Editora</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Titulo</td>
                            <td>@item.NomeGenero</td>
                            <td>@item.Isbn</td>
                            <td>@item.NrPaginas</td>
                            <td>@item.NomeAutor</td>
                            <td>@item.NomeEditora</td>
                            <td>
                                <a class="btn btn-success" href="/Livro/Update?id=@item.Id">Editar</a> |
                                <a class="btn btn-danger"
                                    onclick="return window.confirm('Tem a certeza que deseja remover?')"
                                    href="/Livro/Delete?id=@item.Id">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
